<h1>Cookie ans Seddion Sample</h1>
<div>
  <button><a href="/entries/sign_in">Cookie　Sample</a></button>
</div>
<div>
  <button><a href="/catalog">Session　Sample</a></button>
</div>
<div style="margin-top: 30px;">
  <p>
    <a href="https://github.com/YuiOmata/LectureSample">そーすこーどはこちら</a>
  </p>
</div>
